.card-list {
  display: grid;
  width: 90vw;
  margin: auto;
  margin-top: 50px;
  justify-content: center;
  /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
  grid-template-columns: repeat(auto-fit, minmax(120px, auto));
}
